.box {
    position: relative;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    padding: 8px;
    margin: 4px;
}
.visualRep {
    width:135px;
    #height:40px;
}
.invisible {
    visibility:hidden;
}
.zenDiagramFloatingPaneContent {
    background-color:#C0C0C0;
}
.boxTable {
    #margin:4px;
    #border:1px solid #303030;
    rules:rows;
    background-color:#C0C0C0;
}
.boxTD1 {
    
    border-right:2px solid #808080;
    border-bottom:2px solid #404040;
    background-color:#ECECEC;
    padding:4px;
}
.boxTD2 {
    
}
.boxRow {
    border:1px solid black;
}
